{% include 'nav.html' %}
<div class="main">
{% block content %}

<div class="">
		<div class="mr-sm-2 mb-2 col-sm-8" style="margin: 10px;">
			<form action="{{ url_for('editTractorItem',e0id=e0id,excname=itemdetails.name)}}" method="POST" style="color:white;background-color:blue">
				<div class="panel panel-info">
				  <div class="panel-heading" style="color:white;background-color:green">Edit Item Details</div>
				  <div class="panel-body">
				  	
					  <div class="form-group">
					  	<label class="text-primary" for="name" style="color:indigo">Enter Item Name:</label>
					    <input type="name" class="form-control" name="name" value="{{itemdetails.name}}" style="color:green" >
					  </div>
					  <div class="form-group">
					  	<label class="text-primary" for="engine" style="color:indigo">Enter engine </label>
					    <input type="text" class="form-control" name="engine" value="{{itemdetails.engine}}" style="color:green">
					  </div>
					  <div class="form-group">
					  	<label class="text-primary" for="price" style="color:indigo">Enter item price</label>
					    <input type="text" class="form-control" name="price" value="{{itemdetails.price}}" style="color:green">
					  </div>
					  <div class="text-primary" class="form-group">
					  	<label for="liftcapacity" style="color:indigo">Enter item liftcapacity</label>
					    <input type="text" class="form-control" name="liftcapacity" value="{{itemdetails.liftcapacity}}" style="color:green">
					  </div>			  
				  </div> 
				  <div class="panel-footer text-center"><input type="submit" class="btn btn-primary" value="Edit" style="color:white;background-color:green"></div>
				</div>
				</form>
			</div>
</div>
{% endblock content %}